button{
    background-clip :border-box;
    background-color :rgb(0, 113, 227);
    background-origin :padding-box;
 
    background-size :auto;
    border-bottom-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);

    border-bottom-left-radius: 980px;
    border-bottom-right-radius: 980px;
    border-bottom-style :solid;


    border-top-left-radius :980px;
    border-top-right-radius: 980px;

    color :rgb(255, 255, 255);
    cursor :pointer;
    display: inline-block;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size :17px;
    font-style: normal;
    letter-spacing: -0.374px;
    line-height :20.0002px;
    min-width: 28px;
    padding-bottom: 11px;
    padding-left: 21px;
    padding-right :21px;
    padding-top: 11px;
    text-decoration-color: rgb(255, 255, 255);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    width: 126.742px;
   

}